.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
}

.container-telas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
}

.btn-kuality {
    color: #fff;
    background-color: rgb(3 152 158);
    border-color: rgb(3 152 158);
    box-shadow: none;
  }
  
  .btn-kuality:hover {
    color: #fff;
    background-color: rgb(3, 130, 134);
    border-color: rgb(3, 130, 134);
  }
  
  .btn-kuality:focus, .btn-kuality.focus {
    color: #fff;
    background-color:  rgb(3, 130, 134);
    border-color: rgb(3, 130, 134);
    box-shadow: 0 0 0 0 rgb(3, 130, 134);
  }

  .text-kuality {
    color:  rgb(3, 130, 134);
  }

  .bg-kuality {
    background-color:  rgb(3, 130, 134);
    color: white;
  }

  .container-login100 {
    width: 100%;  
    min-height: 90vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
    /* background-color: #ebebeb; */
  }

  .wrap-login100 {
    width: 560px;
    background: #fff;
    border-radius: 10px;
    position: relative;
  }