.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
}

.btn-kuality {
    color: #fff;
    background-color: rgb(3 152 158);
    border-color: rgb(3 152 158);
    box-shadow: none;
  }
  
  .btn-kuality:hover {
    color: #fff;
    background-color: rgb(3, 130, 134);
    border-color: rgb(3, 130, 134);
  }
  
  .btn-kuality:focus, .btn-kuality.focus {
    color: #fff;
    background-color:  rgb(3, 130, 134);
    border-color: rgb(3, 130, 134);
    box-shadow: 0 0 0 0 rgb(3, 130, 134);
  }